<div class="row">
    <h2 class="col-xs-12 page-header">
        Patientenverwaltung
        <small>Ein Demoprojekt</small>
    </h2>
</div>

<div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12 text-center">
        <img class="img-circle img-responsive img-center"
             src="img/html5.png" alt="HTML5 Logo" />
        <h4>HTML5</h4>
        <p>Strukturierte Inhalte für den Browser</p>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 text-center">
        <img class="img-circle img-responsive img-center"
             src="img/css3.png" alt="CSS3 Logo" />
        <h4>CSS3</h4>
        <p>Passt grafische Anzeige an</p>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 text-center">
        <img class="img-circle img-responsive img-center"
             src="img/js.png" alt="JavaScript Logo" />
        <h4>JavaScript</h4>
        <p>Erlaubt Clientseitiges programmieren</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12 text-center">
        <img class="img-circle img-responsive img-center"
             src="img/jQuery.png" alt="jQuery Logo" />
        <h4>jQuery</h4>
        <p>JavaScript Bibliothek</p>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 text-center">
        <img class="img-circle img-responsive img-center"
             src="img/react.png" alt="React Logo" />
        <h4>React</h4>
        <p>JavaScript Bibliothek</p>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 text-center">
        <img class="img-circle img-responsive img-center"
             src="img/bootstrap.png" alt="Bootstrap Logo" />
        <h4>Bootstrap</h4>
        <p>Frontend CSS Framework</p>
    </div>
</div>